body{
    margin:0;
    font-family: Arial, sans-serif;
}

#heading{
text-align	:center;
border-radius			:10px ;
color			:rgb(98, 0, 255);
background-color	:lightblue;
height			:300px;
margin :30px;
margin-bottom: 300px;

}
.profi {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -270px;
    margin-bottom:auto;
    width:30%;
    
}
#headd{
    width:100%;
    height: 60px;
    border: 1px solid greenyellow;
    border-radius: 6px;
    background-color:aquamarine;
    z-index: 500;
    top: 0;
    position:fixed;
    justify-content: center;
    text-align: center;
    display:flex;
    padding: 15px 20px;
    

}
@media(max-width:600px){
    #headd{
        padding: 10px 5px;
    }
}
.cl{
    font-size: 3rem;
    font-weight: bold;
    color:blueviolet;
    font-family:Sketchnote;
    text-align: center;
    margin:0;

}
@media(max-width:600px){
    .cl{
        font-size:1.8rem;
    }
}
#upmenu{
    
    display:flex;
    justify-content: center;
    gap:20px;
    background: #e10dfd;
    padding:10px;
    margin: 2%;
    
}
#upmenu a{
text-decoration: none;
color:rgb(238, 255, 0);
font-weight:bold;

}
.menu-toggle{
display:none;
flex-direction: column;
justify-content: space-between;
width: 60px;
height: 80px;
background: none;
border:none;
cursor:pointer;
padding: 0px;

z-index:100;

}
.menu-wrapper{
    display:flex;
    justify-content: center;
    margin: 20px 0;
}

.menu-toggle span{
    display:block;
    height: 5px;
    width:100%;
    background:black;
    border-radius: 2px;
}
@media (max-width:768px) {
    .menu-toggle{
        display:flex;
    }
}
@media (max-width:768px) {
    #upmenu{
        display:none;
        flex-direction: column;
        text-align: center;
    }
}
#upmenu.active{
    display: flex;
    color:yellowgreen;
}
.menu-toggle{
    display: block;
}

#upmenu a:hover{
    background-color: rgb(232, 255, 196);
    height: 22px;
    color:aquamarine;
    
  
   

}
  #body_all.cl{
    color:rgba(144, 43, 226, 0.322);
    display:block;
     border: 2px solid #ff2fa82a;  
     width:10%;
     height:43px;
     margin-top :2px;
     font-size:medium;
     font-weight: 400;
     font-family: cursive;
     padding: 3px;

}
.cl p{
    text-align: end;
    color :brown;
}


.hd{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: oblique;
}


#bottom{

border			:   5px solid black;
color			:   blue;
background-color	:lightblue;
height			:400px;
margin: 10px;
margin-top: 300px;


}
#broom{
text-align: center;
padding: 40px;
border: 3px solid greenyellow;
border-radius: 130px;
width:90%;

}
.pic{
    width       :100%;
    height      :100% ;
    border      :2px solid blueviolet;
    background-color: rgb(255, 123, 0);
    margin-top: -50px;
    display: block;
}
#body_all{
    border : 80px solid rgb(43, 226, 186);
    background-color: aquamarine;
    border-radius: 10px;
}
#bottom h3{
    text-align:center;

    
}
#bottom{

    
    text-align: center;
    border: 8px solid yellowgreen;
    border-radius: 10px;
    height: 900px;
    gap:500px;
    
    
}
.hh3{
    border: 3px solid yellowgreen;
    border-radius: 7px;
    width:40%;
    display:inline-block;
    padding:5px 10px;

}

.pic{
    border:3px solid greenyellow;
    border-radius:50px;
    margin-top:300px;
    padding-top: 0px;
}
#off1{
    width:100%;
    overflow:auto;
    height:400px;
    justify-content: center;
    gap:30px;
}
#off1, #off2{
    float:left;
    width: 30%;
    margin:2%;
    border:2px solid yellowgreen;
    box-sizing:border-box;
    padding: 15px;
    border-radius: 7px;
    height: 300px;
    

}

#off1 h4, #off2 h3{
    text-align: center;
    margin-bottom: 10px;
}