body{
    margin:0;
    font-family: Arial, sans-serif;

}

#heading_in{
    margin: 20px;
    padding: 10px;

}
#profi{
    display:flex;
    justify-content:left;

    
}
#prof img{
    display: inline-block;
}
.profi {
    width: 200px;
    height: 200px;
    margin: 60px;
    
}
@media (max_width:600px){
    #profi{
        display: flex;
        justify-content: center;
        align-items:center;
        margin-top:-20px;
    }
    
}
#headd{
    width:100%;
    height: 60px;
    border: 1px solid greenyellow;
    border-radius: 6px;
    background-color:rgb(127, 204, 255);
    z-index: 500;
    top: 0;
    position:fixed;
    justify-content: center;
    text-align: center;
    display:flex;
    padding: 15px 20px;
    

}
@media(max-width:600px){
    #headd{
        padding: 10px 5px;
    }
}
.cl{
    font-size: 3rem;
    font-weight: bold;
    color:blueviolet;
    font-family:Sketchnote;
    text-align: center;
    margin:0;

}
@media(max-width:600px){
    .cl{
        font-size:1.8rem;
    }
}
#upmenu{
    
    display:flex;
    justify-content: center;
    gap:20px;
    background: #e10dfd;
    padding:3px;
    margin: 2%;
    
    
}
#mMenu a{
    float:right;
    padding: 10px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color:rgb(238, 253, 0)

}
#mMenu{
    display:flex;
    background: #e10dfd;
    justify-content: right;
    margin: 0px;
    position: fixed;
    width:100%;
    padding: 1px;
    

}
#upmenu a{
text-decoration: none;
color:rgb(238, 255, 0);
font-weight:bold;


}
.menu-toggle{
display:flex;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 40px;
background: none;
border:none;
cursor:pointer;
padding: 0px;
align-items: flex-start;




}
.menu-wrapper{
    display:flex;
    justify-content: center;
    margin: 20px 0;
}

.menu-toggle span{
    display:block;
    height: 5px;
    width:100%;
    background:black;
    border-radius: 2px;
}
@media (max_width:768px) {
    .menu-toggle{
        display:flex;
    }
}
.menu-toggle {
    display:none;
}
@media (max-width:768px) {
    #upmenu{
        display:none;
        flex-direction: column;
        text-align: center;
        position :absolute;
        top: 100px;
        background: #0d6efd;
        padding: 10px 0;
        left:0;
        right:0;
    }
}

#upmenu.active {
    display: flex;
    color:yellowgreen;
}

#upmenu a:hover{
    background-color: rgb(232, 255, 196);
    height: 22px;
    color:aquamarine;
    
}
  #body_all.cl{
    color:rgba(144, 43, 226, 0.322);
    display:block;
     border: 2px solid #ff2fa82a;  
     width:10%;
     height:43px;
     margin-top :2px;
     font-size:medium;
     font-weight: 400;
     font-family: cursive;
     padding: 3px;

}
.cl p{
    text-align: end;
    color :brown;
}


.hd{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: oblique;
}


#bottom{

border			:   5px solid black;
color			:   blue;
background-color	:lightblue;
height			:400px;
margin: 10px;
margin-top: 300px;


}
#broom{
text-align: center;
padding: 40px;
border: 3px solid greenyellow;
border-radius: 130px;
width:90%;

}
#pic-box .pic{
    position: relative;
    top:-260px;
}
.pic{
    width       :100%;
    height      :350px;
    border      :2px solid blueviolet;
    background-color: rgb(255, 123, 0);
    
    
}
/*=================slog=============*/
#slog{
    margin: auto;
    text-align: center;
    margin: -200px;

}
/*===============all-body================*/
#body_all{
    border : 80px solid rgb(43, 226, 186);
    background-color:rgba(0, 128, 0, 0.801);
    border-radius: 10px;
}
#bottom h3{
    text-align:center;
    

    
}
#bottom{

    
    text-align: center;
    border: 3px solid yellowgreen;
    border-radius: 10px;
    height: 900px;
    gap:500px;
    
    
}
.hh3{
    border: 3px solid yellowgreen;
    border-radius: 7px;
    width:40%;
    display:inline-block;
    padding:5px 10px;
    

}

.pic{
    border:3px solid greenyellow;
    border-radius:50px;
    margin-top:300px;
    padding-top: 0px;
}
#off1{
    width:100%;
    overflow:auto;
    height:400px;
    justify-content: center;
    gap:30px;
}
#off1, #off2{
    float:left;
    width: 30%;
    margin:10%;
    border:5px solid yellowgreen;
    box-sizing:border-box;
    padding: 1px;
    border-radius: 7px;
    height: 400px;
    

}

#off1 h4, #off2 h3{
    text-align: center;
    margin-bottom: 10px;
}
/*Mobile:menu hidden until toggle */

/*Desktop on navMenu*/
#navMenu {
    display: flex;
    gap: 15px;
}

@media (max-width:768px) {
    .menu-toggle {
        display: flex;/*show hbugger*/
    }

@media (max-width:768px){}
#navMenu {
    display:none;
    flex-direction: column;
    background:#f4f4f4;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    color:yellow;
}

    #navMenu.active {
        display: flex; /*show when hamburger is clicked */
    }
}
